<aside class="sidebar">
    <div class="user-profile">
        <div class="user-avatar">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="user-name">{{ request.user.username }}</div>
        <div class="user-role">{{ request.user.get_role_display }}</div>
    </div>

    <nav class="nav-menu">
        <a href="{% url 'dashboard' %}" class="nav-item {% if request.resolver_match.url_name == 'admin_dashboard' %}active{% endif %}">
            <i class="fa-solid fa-house" style="padding-right:10px"></i>
            Home
        </a>

        <a href="{% url 'product_list' %}" class="nav-item {% if request.resolver_match.url_name == 'product_list' %}active{% endif %}">
            <i class="fa-solid fa-boxes-stacked" style="padding-right:10px"></i>
            Inventory Management
        </a>

        <a href="/suppliers/" class="nav-item {% if request.resolver_match.url_name == 'supplier_list' %}active{% endif %}">
            <i class="fa-solid fa-truck" style="padding-right:10px"></i>
            Categories / Suppliers
        </a>

        <a href="{% url 'stock_transactions' %}" class="nav-item {% if request.resolver_match.url_name == 'stock_transactions' %}active{% endif %}">
            <i class="fa-solid fa-money-bill-transfer" style="padding-right:10px"></i>
            Stock Transactions
        </a>

        <a href="{% url 'sales_record' %}" class="nav-item {% if request.resolver_match.url_name == 'sales_record' %}active{% endif %}">
            <i class="fa-solid fa-money-bill-transfer" style="padding-right:10px"></i>
            Sales Record
        </a>

        <a href="#" class="nav-item">
            <i class="fa-solid fa-users" style="padding-right:10px"></i>
            User Management
        </a>

        <a href="{% url 'reports:dashboard' %}" class="nav-item {% if request.resolver_match.app_name == 'reports' %}active{% endif %}">
            <i class="fa-solid fa-chart-bar" style="padding-right:10px"></i>
            Reports & Analytics
        </a>

        <a href="#" class="nav-item">
            <i class="fa-solid fa-gear" style="padding-right:10px"></i>
            Settings
        </a>

        <a href="#" id="logout-link" class="nav-item">
            <i class="fa-solid fa-right-from-bracket" style="padding-right:10px"></i>
            Log Out
        </a>

        <form id="logout-form" method="post" action="{% url 'logout' %}" style="display: none;">
            {% csrf_token %}
        </form>

        <script>
            document.getElementById('logout-link').addEventListener('click', function(e) {
                e.preventDefault();
                document.getElementById('logout-form').submit();
            });
        </script>

    </nav>
</aside>
