<div class="top-header">
    <h1>
        {% if page_title %}
            {{ page_title }}
        {% else %}
            InnoVentory
        {% endif %}
    </h1>
</div>

<div class="welcome-section">
    <div>
        <div class="welcome-text">
            Welcome back, <span class="username">{{ request.user.username }}</span>!
        </div>
    </div>

    <div class="header-info">
        <span id="current-date">09/24/25</span>
        <span id="current-time">05:12 PM</span>
    </div>
</div>